<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order from Jungle!</h1>
    <p>
      Here are the details of your order:<br>
    </p>
    <p>
      <%= @order %>
    </p>
  </body>
</html>

